<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <!-- Latest compiled and minified CSS -->
  </head>
  <body>
      <section class="container">
        <article class="col-sm-12">
          <h3>Hi <%= @offer['owner_name'] %> you have received an offer from your product:</h3>
          <h1><%= @offer['owner_product_name'] %></h1>
        </article>
        <article class="">
          <span><strong class="contact_name"><%= @offer['applicant_name'] %></strong> wants swap with you this:</span>
          <h1 for=""> <%= @offer['applicant_product_name'] %> </h1>
          <label for=""><strong>Description:</strong></label>
          <p>
            <%= @offer['applicant_product_description'] %>
          </p>
          <label for=""><strong>Shipping offered:</strong></label>
          <p><%= @offer['applicant_product_shipping'] %></p>
          <label for=""><strong>Pricre of the owner article:</strong></label>
          <p><%= @offer['applicant_product_price'] %></p>
          <label for=""><strong>Product size:</strong></label>
          <p><%= @offer['applicant_product_size'] %></p>
        </article>
        <br>
        <span>Also you can contact to <strong class="contact_name"><%= @offer['applicant_name'] %></strong> at <a href="mailto:<%= @offer['applicant_email'] %>"><%= @offer['applicant_email'] %></a></span>
      </section>
  </body>
</html>
