<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <!-- Latest compiled and minified CSS -->
  </head>
  <body>
      <section class="container">
        <article class="col-sm-12">
          <h3>Hi <%= @owner['name'] %> your <strong><%= @sale['product']['name'] %></strong> was purchased</h3>
          <br>
          <h1>*Please verify your bank account, and check if the payment was do it!*</h1>          
          <p>
            Please send it to <strong><%= @applicant['name'] %></strong>
          </p>
          <label for=""><strong><%= @applicant['name'] %> address:</strong></label><br>
          <br>
          <address class="">
            <%= @applicant['address'] %>
          </address>
          <p>
            Also you can contact to <%= @applicant['name'] %> at:
          </p>
          <label for=""><strong>Phone number:</strong></label>
          <p>
            <%= @applicant['phone_number'] %>
          </p>
          <label for=""><strong>Email:</strong></label><br>
          <span><a href="mailto:<%= @applicant['email'] %>"><%= @applicant['email'] %></a></span>
        </article>
      </section>
  </body>
</html>
