<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <!-- Latest compiled and minified CSS -->
  </head>
  <body>
      <section class="container">
        <article class="col-sm-12">
          <h1>Hi <%= @user.name %></h1>
          <p>
            You did create  a new account in Clouths Swap.
          </p>
        </article>
      </section>
  </body>
</html>
